<div class="bg-neutral-900 min-h-screen">
  <div class="flex flex-col gap-4 justify-center h-screen p-8">
    <img src="/images/about.png" alt="about-paco" class="" />
    <h1 class="text-white font-extralight">
      I'm <span class="font-medium">Paco</span>, a music producer and mixing
      engineer based in <span class="font-medium">Mexico</span>. I work
      <span class="font-medium">independently</span> and with a label in
      <span class="font-medium">Miami, Florida</span> . I help artists
      <span class="font-medium italic">achieve</span>
      the sound their music deserves—with dedication, precision, and heart.
    </h1>
  </div>
</div>
