<div class="flex w-full">
  <!-- BACKGROUND -->
  <div
    class="h-screen w-full bg-[url(/images/splash-image.png)] bg-cover bg-center grayscale"
  >
    <!-- TITLE -->
    <div class="h-full flex items-end justify-center lg:hidden">
      <div class="text-white mb-10 flex flex-col items-center">
        <div class="flex justify-end px-8">
          <img
            class="h-40"
            src="/images/paco-duran-white-logo.png"
            alt="paco-duran-white-logo"
          />
        </div>
      </div>
    </div>
  </div>
  <div
    class="bg-zinc-950 h-screen w-full hidden lg:flex lg:flex-col justify-center items-center px-10"
  >
    <img src="/images/paco-duran-white-logo.png" alt="paco-duran-white-logo" />
  </div>
</div>
