<div class="h-svh flex w-full">
  <!-- BACKGROUND -->
  <div
    class="bg-amber-900 h-screen w-full bg-[url(/images/splash-image.png)] bg-cover bg-center grayscale"
  >
    <!-- TITLE -->
    <div class="h-full flex items-end justify-center lg:hidden">
      <div class="text-white mb-20 flex flex-col items-center">
        <div class="flex flex-col items-end">
          <h1 class="text-4xl font-extralight text-shadow-lg/30">
            Paco <span class="font-[400]">Duran</span>
          </h1>
          <h2 class="font-light text-shadow-lg/30">Audio Engineer</h2>
        </div>

        <a
          routerLink="/home"
          class="px-8 py-3 bg-white rounded-md text-xs mt-5 w-full text-center"
        >
          <span class="text-center text-black"> PROXIMAMENTE</span>
        </a>
      </div>
    </div>
  </div>
  <div
    class="bg-zinc-950 h-screen w-full hidden lg:flex lg:flex-col justify-center items-center"
  >
    <img src="/images/paco-duran-white-logo.png" alt="" />
    <a
      routerLink="/home"
      class="px-8 py-3 bg-white rounded-md text-xs mt-5 w-fit text-center"
    >
      <span class="text-center text-black"> PROXIMAMENTE</span>
    </a>
  </div>
</div>
