<div class="p-4">
  <!-- TITLE -->
  <div class="flex gap-2 items-center">
    <div class="h-px bg-black w-full"></div>
    <h1>Contact</h1>
    <div class="h-px bg-black w-full"></div>
  </div>
  <!-- CONTACT INFO -->
  <div class="flex flex-col items-center my-4">
    <!-- OPTIONAL -->
    <div
      class="flex items-center justify-center gap-4 px-4 md:w-[500px] lg:w-[400px] xl:w-[600px] selection:bg-zinc-900 selection:text-white"
    >
      <img src="images/pd-alternative.jpg" alt="pd-aternative" class="w-40" />

      <h1 class="text-xs font-light text-gray-900 mb-4">
        OPTIONAL <br />I'm Paco, a music producer and mixing engineer based in
        <span class="font-bold italic">Mexico</span>. Working both
        <span class="font-bold italic">independently</span> and with a
        <span class="font-bold italic">label in Miami, Florida</span>, I help artists achieve the
        sound their music deserves through
        <span class="font-bold italic">dedication, precision, and heart</span>.
      </h1>
    </div>
    <!-- CONTACT FORM -->
    <div
      class="flex flex-col items-center justify-center gap-4 w-full px-4 md:w-[500px] lg:w-[400px] xl:w-[600px] mt-4"
    >
      <div
        class="border border-zinc-200 rounded px-2 py-1 flex items-center gap-2 w-full focus-within:outline-2 focus-within:outline-zinc-500"
      >
        <i class="fa-solid fa-user text-zinc-300"></i>
        <input
          type="text"
          placeholder="Name"
          class="placeholder:text-zinc-300 focus:outline-none text-zinc-500"
        />
      </div>
      <div
        class="border border-zinc-200 rounded px-2 py-1 flex items-center gap-2 w-full focus-within:outline-2 focus-within:outline-zinc-500"
      >
        <i class="fa-solid fa-envelope text-zinc-300"></i>
        <input
          type="text"
          placeholder="Email"
          class="placeholder:text-zinc-300 focus:outline-none text-zinc-500"
        />
      </div>
      <div
        class="border border-zinc-200 rounded px-2 py-1 flex items-baseline gap-2 w-full focus-within:outline-2 focus-within:outline-zinc-500"
      >
        <i class="fa-solid fa-message text-zinc-300"></i>
        <textarea
          name=""
          id=""
          placeholder="Message"
          class="placeholder:text-zinc-300 focus:outline-none text-zinc-500 resize-none"
        ></textarea>
      </div>
      <button
        class="transition-all duration-300 flex w-full items-center justify-center gap-2 bg-zinc-900 text-white rounded py-1.5 border border-zinc-900 hover:bg-white hover:text-zinc-900"
      >
        <i class="fa-solid fa-paper-plane"></i>
        <span>Send Message</span>
      </button>
    </div>
  </div>
</div>
