<div class="p-4">
  <!-- TITLE -->
  <div class="flex gap-2 items-center">
    <div class="h-px bg-black/25 w-full"></div>
    <h1 class="text-black/75 text-sm">Contact</h1>
    <div class="h-px bg-black/25 w-full"></div>
  </div>
  <!-- CONTACT INFO -->
  <div class="flex flex-col items-center my-4">
    <!-- OPTIONAL -->
    <div
      class="flex items-center justify-center gap-4 px-4 md:w-[500px] lg:w-[400px] xl:w-[600px] selection:bg-zinc-900 selection:text-white"
    >
      <img src="images/pd-alternative.jpg" alt="pd-aternative" class="w-[100px] md:w-[200px]" />

      <h1 class="text-xs font-light text-gray-900 mb-4 xl:text-lg">
        I'm Paco, a music producer and mixing engineer based in
        <span class="font-bold italic">Mexico</span>. Working both
        <span class="font-bold italic">independently</span> and with a
        <span class="font-bold italic">label in Miami, Florida</span>, I help artists achieve the
        sound their music deserves through
        <span class="font-bold italic">dedication, precision, and heart</span>.
      </h1>
    </div>
    <!-- CONTACT FORM -->
    <form
      [formGroup]="contactForm"
      (ngSubmit)="onSubmit()"
      class="mt-4 w-full px-4 md:w-[500px] lg:w-[400px] xl:w-[600px]"
    >
      <!-- NAME -->
      <div class="flex flex-col">
        <div
          class="border border-zinc-200 rounded px-2 py-1 flex items-center gap-2 focus-within:outline-2 focus-within:outline-zinc-500"
        >
          <i class="fa-solid fa-user text-zinc-300"></i>
          <input
            type="text"
            id="name"
            formControlName="name"
            placeholder="Name"
            class="placeholder:text-zinc-300 focus:outline-none text-zinc-500"
          />
        </div>
        <div class="h-4 mb-1 flex items-center px-1">
          @if (formUtils.isValidField(contactForm, 'name')) {
            <span class="text-[10px] text-red-500">
              {{ formUtils.getFieldError(contactForm, 'name') }}</span
            >
          }
        </div>
      </div>
      <!-- EMAIL -->
      <div class="flex flex-col">
        <div
          class="border border-zinc-200 rounded px-2 py-1 flex items-center gap-2 w-full focus-within:outline-2 focus-within:outline-zinc-500"
        >
          <i class="fa-solid fa-envelope text-zinc-300"></i>
          <input
            type="text"
            formControlName="email"
            placeholder="Email"
            class="placeholder:text-zinc-300 focus:outline-none text-zinc-500"
          />
        </div>
        <div class="h-4 mb-1 flex items-center px-1">
          @if (formUtils.isValidField(contactForm, 'email')) {
            <span class="text-[10px] text-red-500">
              {{ formUtils.getFieldError(contactForm, 'email') }}</span
            >
          }
        </div>
      </div>
      <!-- MESSAGE -->
      <div class="flex flex-col">
        <div
          class="border border-zinc-200 rounded px-2 py-1 flex items-baseline gap-2 w-full focus-within:outline-2 focus-within:outline-zinc-500"
        >
          <i class="fa-solid fa-message text-zinc-300"></i>
          <textarea
            formControlName="message"
            placeholder="Message"
            class="placeholder:text-zinc-300 focus:outline-none text-zinc-500 resize-none"
          ></textarea>
        </div>
        <div class="h-4 mb-1 flex items-center px-1">
          @if (formUtils.isValidField(contactForm, 'message')) {
            <span class="text-[10px] text-red-500">
              {{ formUtils.getFieldError(contactForm, 'message') }}</span
            >
          }
        </div>
      </div>
      <button
        type="submit"
        class="transition-all duration-300 mt-2 flex w-full items-center justify-center gap-2 text-white rounded py-1.5 border"
        [style.backgroundColor]="
          status() === 'success' ? '#16a34a' : status() === 'error' ? '#dc2626' : '#18181b'
        "
        [style.borderColor]="
          status() === 'success' ? '#16a34a' : status() === 'error' ? '#dc2626' : '#18181b'
        "
      >
        @switch (status()) {
          @case ('loading') {
            <svg
              class="h-5 w-5 animate-spin"
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
            >
              <circle
                class="opacity-25"
                cx="12"
                cy="12"
                r="10"
                stroke="currentColor"
                stroke-width="4"
              />
              <path
                class="opacity-75"
                fill="currentColor"
                d="M4 12a8 8 0 018-8v4a4 4 0 00-4 4H4z"
              />
            </svg>
            <span>Cargando...</span>
          }
          @case ('success') {
            <i class="fa-solid fa-check"></i>
            <span>Enviado</span>
          }
          @case ('error') {
            <i class="fa-solid fa-xmark"></i>
            <span>{{ errorMessage() }}</span>
          }
          @default {
            <i class="fa-solid fa-paper-plane"></i>
            <span>Send Message</span>
          }
        }
      </button>
    </form>
  </div>

  <!-- BACK TO TOP -->
  <div class="flex gap-2 items-center justify-center mt-7 mb-2">
    <div class="h-px bg-black/25 w-full"></div>
    <button
      class="text-black/75 text-xs w-fit whitespace-nowrap hover:outline hover:outline-black/25 rounded px-2 py-1"
      aria-label="Volver al inicio"
    >
      <a class="flex items-center gap-2" [routerLink]="['/']">
        <i class="fa-solid fa-house"></i>
        <h1>Back to home</h1>
      </a>
    </button>
    <div class="h-px bg-black/25 w-full hidden md:block"></div>
  </div>
</div>
