<div class="bg-white my-2">
  <!--LOGO -->
  <div class="flex flex-col items-center justify-center gap-2 mt-8">
    <a [routerLink]="['/']">
      <img src="images/paco-duran-black-logo.png" alt="pd-black-logo" class="w-[250px]" />
    </a>

    <h1 class="text-sm">Mixer, Engineer & Producer</h1>
  </div>

  <!--CONTACT / SOCIALS -->
  <div class="flex items-center justify-center mt-5 gap-4">
    <a
      href="https://www.instagram.com/pacoduran.mix"
      target="_blank"
      class="p-1 flex items-center justify-center"
    >
      <i class="fa-brands fa-instagram text-2xl"></i>
    </a>
    <a
      href="https://open.spotify.com/playlist/1b98ySMRpT74RHc8iHN64s?si=bf2acce0af234ea1&fbclid=PAZXh0bgNhZW0CMTEAAaftZ_1U4d7Vq3_KWGdMYcT2KCjbje2q6h7j3y5bSiZjhqFsqCF-4JS7xdPLcQ_aem_42Kx1geXbDS2A6irZmJlUg&nd=1&dlsi=2160790e1d6f4110"
      target="_blank"
      class="p-1 flex items-center justify-center"
    >
      <i class="fa-brands fa-spotify text-2xl"></i>
    </a>
    <a
      href="https://credits.muso.ai/profile/57cd6080-8a7d-4c56-90c3-e681ee7a68ca"
      target="_blank"
      class="p-1 flex items-center justify-center"
    >
      <img src="images/muso.png" alt="muso" class="w-[25px]" />
    </a>
  </div>
  <div class="flex items-center justify-center mt-2">
    <a
      [routerLink]="['/contact']"
      class="flex items-center justify-between gap-2 border border-neutral-950 px-3 py-1 rounded-md w-fit"
    >
      <h1 class="text-sm">Contact</h1>
      <i class="fa-regular fa-envelope"></i>
    </a>
  </div>

  <router-outlet />
  <shared-footer class="absolute w-full" />
</div>
